body {
    background-color: #1e1e1e;
    font-family: 'Kosugi Maru', sans-serif;
    color: white;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 5vw;
    padding-bottom: 10vw;
}

h1 {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 40px;
}

h2 {
    font-size: 2rem;
    padding-top: 25px;
    font-family: 'Noto Sans JP', sans-serif;
}

li {
    font-size: 1.5rem;
    font-family: 'Noto Sans JP', sans-serif;
}

a {
    color: white;
    font-size: 1.5rem;
    font-family: 'Noto Sans JP', sans-serif;
}

p {
    font-size: 1.5rem;
    font-family: 'Noto Sans JP', sans-serif;
}

.logo {
    width: 5vw;
    padding-right: 30px;
}

.visual {
    max-width: 50vw;
    text-align: center;
}

.sns {
    padding-top: 5px;
}

.sns-box {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 5rem;
        text-align: center;
        padding-bottom: 70px;
        padding-top: 70px;
    }

    h2 {
        font-size: 4rem;
        font-family: 'Noto Sans JP', sans-serif;
        padding-top: 50px;
    }

    li {
        font-size: 22px;
        font-family: 'Noto Sans JP', sans-serif;
    }

    a {
        color: white;
        font-size: 40px;
        font-family: 'Noto Sans JP', sans-serif;
    }

    p {
        font-size: 22px;
        font-family: 'Noto Sans JP', sans-serif;
    }

    .logo {
        width: 10vw;
        padding-right: 30px;
    }

    .visual {
        max-width: 75vw;
    }
}
